.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr;
  gap: 35px;
}

.item1 {
  grid-row: span 2;
  background-color: white;
}

.firm-card.add-border.content-center {
  height: 100% !important;
}